version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: backend_postgres
    restart: unless-stopped
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: burguerdb
      POSTGRES_USER: mauri
      POSTGRES_PASSWORD: Alejandro1256
      TZ: America/Santiago
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ../backend
    container_name: django_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    depends_on:
      - postgres

volumes:
  postgres_data:
